/* === Parallax Effekt === */

body, html
{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.slide{
    width: 100vw;
    height: 300vw;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    height: 200vh;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one{
    /*background: url("../img/Rodung.jpg") center;
    /*background-size: 100vw 300vh;*/
    background: rgb(0, 255, 42);
    /*background: url("banner1.png")  center;
    background-size:  100vw 100vh;*/
}

.two{
    background: rgb(76, 0, 255);
    /*background: url("banner2.png")  center;
    background-size:  100vw 100vh;*/
}

.three{
    background: rgb(255, 0, 0) 100px 100px;
    /*background: url("banner3.png")  center;
    background-size:  100vw 100vh;*/
}

.four{
    background: rgb(174, 0, 255);
}

.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translatex(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar{
    display: none;
}


.textarea1{
    /*width: 70vw;
    height: 50vw;*/
    width: 70vw;
    height: auto;
    max-height: 50vh;

    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(114, 114, 114, 0.5);
}

.textarea1:hover{
    overflow: hidden;
    overflow-y: scroll;
}